@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply bg-gray-100
}
.picker {
    transform: translateX(-70px);
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
